<a href="https://colab.research.google.com/github/bdfd/Portfolio_Project07_BigMart_Sales/blob/main/Big_Mart_Predictino.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Big Mart Prediction

## Basic Approach

The Approach
1. Perform some quick EDA(Exploratory Data Analysis)
2. Use Scikit-Learn Regression Algorithm
3. Covert data into an array
4. Converting the target variable into linear regression

Target Cluster
Datasets is about a set of data regarding Big Mart Sales with following Linear Regression

In [3]:
# import necessary packages
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [5]:
# read the dataset
train_path = 'https://raw.githubusercontent.com/bdfd/Portfolio_Project07_BigMart_Sales/main/dataset/train.csv'
test_path ='https://raw.githubusercontent.com/bdfd/Portfolio_Project07_BigMart_Sales/main/dataset/test.csv'
# upload dataset into data frame
train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)
train_df.head(3)

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Fat_Content_LF,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Fat_Content_low fat,Item_Fat_Content_reg,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,6.800000,0.037490,48.6034,2004,291.6204,0,1,0,0,0,...,0,0,1,0,1,0,0,1,0,0
1,15.600000,0.172597,114.8518,1997,2163.1842,0,1,0,0,0,...,0,0,1,1,0,0,0,1,0,0
2,12.911575,0.054721,107.8254,1985,2387.5588,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,1

In [7]:
## set the target variable as item_outlet_sales
# train_df.shape
test_df.shape

(341, 36)

In [9]:
train_x = train_df.drop(columns=['Item_Outlet_Sales'], axis=1)
train_y = train_df['Item_Outlet_Sales']

In [10]:
test_x = test_df.drop(columns=['Item_Outlet_Sales'], axis=1)
test_y = test_df['Item_Outlet_Sales']

In [20]:
## from sklearn.linear_model import LinearRegression
model = LinearRegression()
## fit the model with the training data
model.fit(train_x, train_y)

LinearRegression()

In [21]:
print('\nCoefficient of model :', model.coef_)
print('\nIntercept of model',model.intercept_)

Coefficient of model : [-3.84197604e+00  9.83065945e+00  1.61711856e+01  6.09197622e+01
 -8.64161561e+01  1.23593376e+02  2.34714039e+02 -2.44597425e+02
 -2.72938329e+01 -8.09611456e+00 -3.01147840e+02  1.70727611e+02
 -5.40194744e+01  7.34248834e+01  1.70313375e+00 -5.07701615e+01
  1.63553657e+02 -5.85286125e+01  1.04913492e+02 -6.01944874e+01
  1.98948206e+02 -1.40959023e+02  1.19426257e+02  2.66382669e+01
 -1.85619792e+02  1.43925357e+03  2.16134663e+02  3.54723990e+01
  3.54832996e+02 -5.54559635e+00 -3.49287400e+02 -1.39202954e+03
 -2.57982359e+02 -9.59016062e+02  2.60902796e+03]

Intercept of model -121926.97473298297

In [24]:
model.score(train_x, train_y)

0.587516529853028

In [25]:
predict_train = model.predict(train_x)
rmse_train = mean_squared_error(train_y, predict_train)**(0.5)
print(predict_train, rmse_train)

[ 803.88817641 1733.98835979 3294.52154482 ...  811.16967914 2343.96927185
 2444.98869913] 1135.8159344155247

In [27]:
predict_test = model.predict(test_x)
rmse_test = mean_squared_error(test_y,predict_test)**(0.5)
print(predict_train, rmse_train)

[ 803.88817641 1733.98835979 3294.52154482 ...  811.16967914 2343.96927185
 2444.98869913] 1135.8159344155247